@import url("../../style.css");
/* @import url("../styles/homepage.css"); */

body,
body * {
  box-sizing: border-box;
}

/************ 
Actual Skeleton Styling 

************/

/* Whole container styling */
.whole-content {
  height: max-content;
  margin: auto;
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 80vw;
}
/* Main container styling */
.main-container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 0.2fr 0.8fr;
  margin: auto;
  padding: var(--scale-lg) 0;
  position: relative;
  width: 95%;
}

/* Header container styling */
.header-container {
  position: sticky;
  top: 0;
  z-index: 9;
}

/* Aside wrapper and container styling */
.aside-wrapper {
  position: fixed;
  z-index: 9;
}
.aside-container {
  grid-area: sidebar;
  max-height: 90vh;
  min-width: 15rem;
  overflow: auto;
}

/* Main docs content styling */
.main__content {
  grid-area: content;
  text-align: start;
  width: 100%;
}
.main__content-section {
  padding: var(--scale-sm) var(--scale-lg);
}
.code__snippet {
  text-align: justify;
  line-height: calc(var(--scale-md) + var(--scale-sm));
}

/* Customized list styling */
.list {
  background-color: inherit;
  text-align: start;
}
.list__title {
  border: none;
  word-spacing: normal;
}
.list li {
  font-size: var(--scale-md);
}
.list li a:hover {
  text-decoration: none;
}

/* Content Components' styling */
.content__heading {
  color: var(--default-color);
  font-size: var(--scale-lg);
  padding: var(--scale-md) 0;
}
.content {
  margin: var(--scale-md) 0;
}
/* Display Component Styling */
.component__display {
  align-items: center;
  border-radius: var(--scale-sm);
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: var(--scale-md) auto;
  min-height: 5rem;
  padding: var(--scale-sm);
  row-gap: var(--scale-sm);
}
.foot__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--scale-md);
  width: 100%;
}
.foot__nav a:hover {
  text-decoration: none;
}

/* Footer Styling */
.footer-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: var(--scale-md);
  padding-top: var(--scale-md);
  width: 100%;
}

.footer__links {
  display: flex;
  font-size: var(--scale-lg);
}

/* Scrollbar Styling without changing browser stles */

/* Docs pages breakpoints */
@media screen and (min-width: 1024px) and (max-width: 1556px) {
  .whole-content {
    margin: auto;
    width: 95vw;
  }
}
@media screen and (max-width: 1024px) {
  .aside-container {
    display: none;
    visibility: hidden;
  }
  .whole-content {
    margin: 0;
    width: 100vw;
  }
  .header-container {
    position: static;
  }
  .main-container {
    grid-template-areas: "content";
    grid-template-columns: 1fr;
    margin: auto;
    padding: var(--scale-sm);
    width: 100vw;
  }
  .main__content {
    grid-area: content;
    margin: auto;
    max-width: 95%;
  }
  .code__snippet {
    text-align: start;
    line-height: calc(var(--scale-md) + var(--scale-sm));
  }
  .main-container .main__content-section {
    padding: 0;
    width: 95vw;
  }
  .foot__nav {
    padding: var(--scale-md) 0;
  }
}
@media screen and (max-width: 576px) {
  .aside-container {
    display: none;
    visibility: hidden;
  }
  .whole-content {
    margin: 0;
    width: 100%;
  }
  .main-container {
    grid-template-areas: "content";
    grid-template-columns: 1fr;
    margin: auto;
    padding: var(--scale-sm);
    width: 95vw;
  }
  .main__content {
    grid-area: content;
    margin-right: var(--scale-md);
    margin: auto;
    width: 90vw;
  }
  .main-container .main__content-section {
    padding: 0;
    width: 100%;
  }
  .foot__nav {
    padding: var(--scale-md) 0;
  }
}
