@import url("../../style.css");
@import url("./docs-skeleton.css");

body {
  background-color: var(--defalult-bg-color);
  color: var(--default-text-color);
  font-size: 100%;
}
.btn:hover {
  text-decoration: none;
}

.hero-container {
  margin: var(--scale-xxl) auto;
  max-width: 95%;
  padding: var(--scale-xxl);
}
.hero__title {
  margin: var(--scale-xl) auto;
  max-width: 80%;
}
.hero__subtitle {
  margin: var(--scale-xl) auto;
  max-width: 80%;
}
.hero__btns {
  width: 90%;
  margin: var(--scale-xl) auto;
}
.hero__btns .btn {
  font-size: var(--scale-md);
  margin: 0 var(--scale-md);
  padding: var(--scale-md);
}
.hero__btns .btn:hover {
  text-decoration: none;
}

/* Homepage Breakpoints */
@media screen and (max-width: 1080px) {
  .whole-content {
    width: 100%;
  }
  .hero-container {
    margin: var(--scale-xxl) auto;
    padding: var(--scale-xl) auto;
  }
  .hero__title {
    margin: auto;
    padding: var(--scale-sm);
    width: 100%;
  }
  .hero__subtitle {
    margin: var(--scale-lg) auto;
    padding: var(--scale-sm) 0;
  }
}

@media screen and (max-width: 720px) {
  body {
    font-size: var(--scale-md);
    box-sizing: border-box;
  }
  .whole-content {
    width: 100%;
    margin: auto;
  }
  .hero-container {
    height: auto;
    padding: var(--scale-sm) auto var(--scale-sm) auto;
    margin: var(--scale-sm) auto var(--scale-sm) auto;
  }
  .hero__title {
    margin: var(--scale-md) auto;
  }
  .hero__title h1 {
    font-size: var(--scale-lg);
    line-height: normal;
  }
  .hero__subtitle {
    margin: var(--scale-lg) auto;
    width: 100%;
  }
  .hero__subtitle p {
    font-size: var(--scale-md);
    padding: 0 var(--scale-sm);
  }
  .hero__btns {
    margin: var(--scale-xl) auto;
  }
  .hero__btns .btn {
    font-size: 0.8rem;
    padding: var(--scale-md);
  }
  .footer-container {
    margin-top: var(--scale-xxl);
    padding: var(--scale-xxl);
  }
}
