@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*********
Headings' Typography  

*********/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  word-spacing: 0.5rem;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
h5 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
h6 {
  font-size: 0.5rem;
  line-height: 0.75rem;
  font-weight: 500;
}

/**********
Paragraph Text Typography 

***********/
span,
p {
  font-family: "Inter", sans-serif;
}

.text-1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  word-spacing: 0.2rem;
}
.text-2 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
  word-spacing: 0.2rem;
}
.text-3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
  word-spacing: 0.2rem;
}
.text-4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 100;
  word-spacing: 0.15rem;
}
.text-5 {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: normal;
  font-weight: normal;
  word-spacing: normal;
}

/*********
Classes for font-weight  

*********/

.bold-sm {
  font-weight: 300;
}
.bold-md {
  font-weight: 400;
}
.bold-lg {
  font-weight: 600;
}
.bold-xl {
  font-weight: 700;
  letter-spacing: 0.01rem;
}
.bold-xxl {
  font-weight: 900;
  letter-spacing: 0.05rem;
}
