@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*********
Headings' Typography  

*********/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
h5 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
h6 {
  font-size: 0.5rem;
  line-height: 0.75rem;
  font-weight: 500;
}

/**********
Paragraph Text Typography 

***********/
.text-1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  word-spacing: 0.25rem;
}
