:root {
  --default-text-color: #221d23;
  --defalult-bg-color: #ffffff;
  --default-color: #f18f01;
  --primary-color: #4265ff;
  --secondary-color: #f4f4ed;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --warning-color: hsl(46, 100%, 45%);

  --text-hover: hsl(290, 9%, 8%);
  --default-hover: hsl(36, 99%, 40%);
  --primary-hover: hsl(229, 100%, 53%);
  --secondary-hover: hsl(60, 24%, 79%);
  --danger-hover: hsl(4, 92%, 40%);
  --success-hover: hsl(122, 39%, 34%);
  --warning-hover: hsl(46, 100%, 38%);
  --active-hover: hsl(216, 100%, 35%);

  --off-white: #f6f9fc;
  --active-color: #0065ff;

  --dark-color: #221d23;
  --light-color: #f4f4ed;
}
